* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
}

body {
  font-family: "Fira Mono", monospace;
  background-color: #111;
  color: #ccc;
  font-size: 18px;
  line-height: 1.2;
}

h1 {
    color: var(--text-color);
    font-size: 50px;
    letter-spacing: -5px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: var(--text-color);
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: #00aa00;
    text-decoration: none
}

.underline:hover {
    color: rgb(0, 170, 0);
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgb(0, 170, 0);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.underline:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

  
  p {
    margin: 20px 0;
  }
  
  nav {
    width: 30%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul li {
    color: var(--text-color);
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wb-body {
    background: #111;
    padding: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  .cursor {
    font-weight: 700;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from,
    to {
      color: transparent;
    }
  
    50% {
      color: #fff;
    }
  }

  footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-bottom: 8rem;
    display: table;
    text-align: center;
    position: absolute;
    bottom: 0;
}
footer nav {
    margin-top: 20px;
}

.centered {
	margin: 0px auto 40px;
	display: block;
}
